@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: "Nunito", sans-serif;
	background-image: linear-gradient(#211a97, #35025c);
}

body {
	padding: 0;
	margin: 0;
}

img {
	height: 120px;
	text-align: left;
    	display: block;
    	justify-content: left;
    	align-items: left;
    	margin: auto;
 }

 .primaryBtn {
	margin: 20px 10px;
	cursor: pointer;
	font-weight: 500;
	padding: 13px 25px;
	border-radius: 15px;
	font-size: 0.8rem;
	border: none;
	color: white;
	background: #185adb;
	transition: all 0.25s ease;
}

.primaryBtn:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}

.title {
	padding: 10px;
	font-size: 100px;
	color: #ffffff;
	text-align: center;
}

.searchBtn {
	margin-top: 10px;
	cursor: pointer;
	font-weight: 1000;
	padding: 17px 17px;
	border-radius: 20px;
	font-size: 0.8rem;
	border: none;
	color: #2c3e50;
	background: #a0fe84;
	transition: all 0.25s ease;
}

.creditText {
	color: white;
}

.motto{
	color: white;
}

.titleTxt{
	font-Size: 70px;
	color: white;
}